
/app/tracker-backend/target/
/.idea/
tracker-backend/.idea/
tracker-frontend/.idea/

# dependencies
/tracker-frontend/node_modules/
.pnp
.pnp.js

# testing
/tracker-frontend/coverage

# production
/tracker-frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
